/* Override Bootstrap */
.btn-primary {
	color: #fff;
	background-color: #2196f3;
	border-color: #2196f3;
}
.btn-primary:focus,
.btn-primary.focus {
	color: #fff;
	background-color: #2196f3;
	border-color: #2196f3;
}
.btn-primary:hover {
	color: #fff;
	background-color: #2196f3;
	border-color: #2196f3;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #2196f3;
	border-color: #2196f3;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
	color: #fff;
	background-color: #2196f3;
	border-color: #2196f3;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
	background-color: #2196f3;
	border-color: #2196f3;
}
.btn-primary .badge {
	color: #2196f3;
	background-color: #fff;
}

.btn-danger {
	color: #fff;
	background-color: #F34646;
	border-color: #F34646;
}
.btn-danger:focus,
.btn-danger.focus {
	color: #fff;
	background-color: #F34646;
	border-color: #F34646;
}
.btn-danger:hover {
	color: #fff;
	background-color: #F34646;
	border-color: #F34646;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #F34646;
	border-color: #F34646;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
	color: #fff;
	background-color: #F34646;
	border-color: #F34646;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
	background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
	background-color: #F34646;
	border-color: #F34646;
}
.btn-danger .badge {
	color: #F34646;
	background-color: #fff;
}

.btn-warning {
	color: #fff;
	background-color: #ffa000;
	border-color: #ffa000;
}
.btn-warning:focus,
.btn-warning.focus {
	color: #fff;
	background-color: #ffa000;
	border-color: #ffa000;
}
.btn-warning:hover {
	color: #fff;
	background-color: #ffa000;
	border-color: #ffa000;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ffa000;
	border-color: #ffa000;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
	color: #fff;
	background-color: #ffa000;
	border-color: #ffa000;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
	background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
	background-color: #ffa000;
	border-color: #ffa000;
}
.btn-warning .badge {
	color: #ffa000;
	background-color: #fff;
}
.bg-primary {
	color: #fff;
	background-color: #2196f3;
}

a.bg-danger:hover,
a.bg-danger:focus {
	background-color: #2196f3;
}
.bg-danger {
	color: #fff;
	background-color: #F34646;
}

a.bg-danger:hover,
a.bg-danger:focus {
	background-color: #F34646;
}

.label-danger {
	background-color: #F34646;
}

.dropdown .dropdown-menu > li > a {
	padding: 5px 20px;
	height: auto;
	font-weight: normal;
	line-height: normal;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-brand img {
	height: 35px;
	margin-top: 10px;
}

.input-group-addon {
	background-color: #fff;
}

.help-block {
	font-size: 13px;
}

.text-primary {
	color: #2196f3;
}

a.text-primary:hover,
a.text-primary:focus {
	color: #2196f3;
}

.text-warning {
	color: #ffa000;
}

a.text-warning:hover,
a.text-warning:focus {
	color: #ffa000;
}

.form-control {
	box-shadow: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
	background-color: #2196f3;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
	background-color: #F34646;
}

.my-dropdown-menu {
	padding: 12px;
	width: 285px;
}

.my-container {
	padding-left: 185px;
    padding-right: 185px;
	margin-right: auto;
	margin-left: auto;
}

.banner {
	background: url('/img/banner.jpg') no-repeat;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.welcome-message {
	color: #fff;
	text-align: center;
}

.my-nav-pills li a {
	color: #333;
}

.my-icon {
	vertical-align: middle;
	width: 25px;
}

.my-icon-sm {
	vertical-align: middle;
	height: 17px;
}

.panel-title {
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.panel-sign {
	display: block;
	text-align: center;
	font-size: 13px;
}

.title-border {
	width: 100px;
	border: 2px solid #ffa000;
	margin: 0 auto;
	margin-bottom: 20px;
}

.partners-logo {
	width: 120px;
	vertical-align: middle;
}

.partners-logo-container {
	height: 100px;
	line-height: 100px;
	display: inline-block;
}

.img-destination {
	height: 300px;
	width: 300px;
	margin: 0 20px 20px 0;
	-webkit-box-shadow: 0 1px 3px 0 rgba(27,27,27,.2), 0 4px 8px 0 rgba(27,27,27,.1);
	box-shadow: 0 1px 3px 0 rgba(27,27,27,.2), 0 4px 8px 0 rgba(27,27,27,.1);
	border-radius: 4px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.img-destination h4 {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
	margin: 0;
}

.banner2 {
	background: url('/img/banner2.jpg') no-repeat;
	background-size: cover;
	color: #fff;
}

#img1 {
	background: url('/img/jakarta.jpg') no-repeat;
	background-size: 100%;
}

#img2 {
	background: url('/img/jogja.jpg') no-repeat;
	background-size: 100%;
}

#img3 {
	background: url('/img/bali.jpg') no-repeat;
	background-size: 100%;
}

#img4 {
	background: url('/img/surabaya.jpg') no-repeat;
	background-size: 100%;
}

#img5 {
	background: url('/img/malang.jpg') no-repeat;
	background-size: 100%;
}

#img6 {
	background: url('/img/bandung.jpg') no-repeat;
	background-size: 100%;
}

.bg-default {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #f7f7f7;
}

.footer {
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 35px;
	border-top: 1px solid #ddd;
}

.footer-icon {
	width: 150px;
}

.footer-menu {
	padding: 0;
}

.footer-menu li {
	list-style: none;
}

.footer-menu li a {
	text-decoration: none;
	color: #333;
	font-weight: bolder;
}

.footer-sign {
	text-align: center;
	border-top: 1px solid #ddd;
	padding-top: 35px;
}

.flight-data {
	display: table-cell;
	vertical-align: middle;
	padding: 15px 15px 15px 15px;
}

.flight-data:nth-child(1), .flight-data:nth-child(5), .flight-data:nth-child(6) {
	width: 20%;
}

.flight-data:nth-child(2), .flight-data:nth-child(4) {
	width: 17.5%;
}

.flight-data:nth-child(3) {
	width: 5%;
}

.flight-search-header {
	margin-bottom: 20px;
	padding: 10px 30px 10px 30px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.list-passengers {
	padding: 5px 20px 5px 20px;
}

.dropdown-header {
	font-weight: bolder;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
}

.dropdown-sidebar {
	padding: 0;
	border-right: 1px solid #ddd;
	background-color: #f7f7f7;
	margin-bottom: 0;
}

.dropdown-sidebar li.active {
	background-color: #2196f3;
}

.dropdown-sidebar li.active a {
	color: #fff;
}

.dropdown-sidebar li {
	list-style: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.dropdown-sidebar li a {
	color: #777;
	text-decoration: none;
	font-weight: bold;
}

.cities {
	display: none;
}

.cities-list {
	padding-top: 5px;
	padding-bottom: 5px;
}

.cities-list a {
	color: #777;
	text-decoration: none;
}

.vertical-middle {
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-white {
	background-color: #fff;
	border-color: #fff;
	color: #2196f3;
}

.divider {
	border: 1px solid #ffa000;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.airplane-airline {
	margin-top: 15px;
	]margin-bottom: 15px;
}

.detail-list {
	display: inline-block;;
	margin-right: 20px;
}

.harga-total {
	border-top: 1px solid #ddd;
	padding-top: 15px;
	background-color: #f7f7f7;
}

.list-harga {
	padding-bottom: 15px;
}

.sidebar-menu-container {
	border: 1px solid #d3e0e9;
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 20px;
}

.sidebar-menu {
	padding: 0;
}

.sidebar-menu li {
	list-style: none;
}

.sidebar-menu li:last-child {
	padding-bottom: 0;
}

.sidebar-menu li a {
	color: #777;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 10px 20px 10px 20px;
}

.sidebar-menu li a:hover {
	background-color: #f7f7f7;
}

.sidebar-menu li .my-icon {
	margin-right: 15px;
}

.my-collapse li a {
	background-color: #f7f7f7;
	padding-left: 60px;
}

.my-collapse li a:hover {
	background-color: #ddd;
}

.text-grey {
	color: #a4aaae;
}

.time-range {
	padding-left: 40px;
}

.circle-invert {
	border: 1px solid #2196f3;
	background-color: #fff;
}

.circle-blue {
	border: 1px solid #2196f3;
	background-color: #2196f3;
}

.circle-blue, .circle-invert {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
}

.vertical-line {
	height: 40%;
	border-left: 1px solid #ddd;
	position: absolute;
	left: 19px;
	top: 50%;
	transform: translateY(-50%);
}

.inline {
	display: inline-block;
}

.alert-info {
	background-color: #E3F2FD;
	color: #777;
	border-color: #2196f3;
}

.booking-sub-title {
	font-size: 17px;
}

.alert-default {
	background-color: #fff;
	border-color: #ddd;
}

.alert-list {
	padding-bottom: 15px;
	margin-bottom: 10px;
	position: relative;
}

.bank-icon {
	width: 70px;
	vertical-align: middle;
}

.booking-price-list {
	margin-bottom: 15px;
}

.horizontal-line {
	border-bottom: 1px solid #ddd;
}

.booking-price-total {
	font-size: 16px;
}

.text-black {
	color: #333;
}

.booking-passenger-list {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

.booking-passenger-list:nth-child(odd) {
	background-color: #f7f7f7;
}

.booking-sub-title2 {
	margin-bottom: 10px;
	display: inline-block;
}

.bank-account-row {
	margin-bottom: 10px;
}

.custom-grey-btn {
	background-color: #f7f7f7;
	color: #2196f3;
	border-color: #f7f7f7;
	font-weight: bold;
}

.custom-grey-btn:hover {
	color: #2196f3;
}

.num-payment-guide {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #073E68;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-right: 5px;
}

.user-dropdown-menu li {
	padding-top: 5px;
	padding-bottom: 5px; 
}

.user-menu {
	padding: 0;
}

.user-menu li {
	list-style: none;
}

.bold {
	font-weight: bolder;
}

.popover-text {
	text-decoration: none;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.popover-text:hover {
	text-decoration: none;
	background-color: #f7f7f7;
}

.popover-text:focus {
	color: #777;
	text-decoration: none;
}

.popover {
	width: 205px;
	padding: 0px;
}

.popover-content {
	padding: 0;
}

.label-warning {
	background-color: #ffa000;
}

.label-success {
	background-color: #00A651;
}

.btn-success {
	background-color: #00A651;
}

.user-sidebar-menu {
	padding: 0;
	border-top: 1px solid #ddd;
}

.user-sidebar-menu li {
	list-style: none;
}

.user-sidebar-menu li a {
	display: inline-block;
	color: #777;
	text-decoration: none;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px; 
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
}

.user-sidebar-menu li a.active {
	background-color: #fff;
	border-left: 3px solid #2196f3;
}

.text-danger {
	color: #F34646;
}

.popover-text.text-danger:hover {
	color: #F34646;
}

.popover-text.text-black:hover {
	color: #333;
}

.sidebar-search-menu {
	background-color: #f7f7f7;
	height: 215px;
	margin-top: -15px;
	margin-bottom: -15px;
	padding-top: 60px;
}	

.sidebar-search-menu a {
	color: #777;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	padding: 10px 15px 10px 15px;
}

.sidebar-search-menu .active {
	background-color: #fff;
	border-left: 3px solid #2196f3;
}

.train-banner {
	background: url('/img/train-banner.jpg') no-repeat;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.text-white {
	color: #fff;
}

.circle-notif {
	background-color: #F34646;
	position: absolute;
	height: 10px;
	width: 10px;
	right: 8px;
	bottom: 15px;
	border-radius: 50%;
	display: inline-block;
}